@import '../../../variables.scss';


.dashboard-container{
    display: flex;
}

.dashboard-column{
    background: $background-grey;
    min-width: 270px;
    height: max-content;
    border-radius: 3px;
    margin-right: 10px;
    padding: 8px;
}

.dashboard-task{
    padding: 8px;
    background: white;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    cursor: pointer;

    &:last-child{
        margin-bottom: 0;
    }

    &:hover{
      .task-edit__icon{
        display: block;
      }
    }
}

.dasboard-task__header{
  display: flex;
  justify-content: space-between;
}

.task-edit__icon{
  cursor: pointer;
  opacity: 0.4;
  display: none;
  i{
    font-size: 14px;
  }

  &:hover{
    opacity: 0.8;
  }
}

.dashboard-btn-container{
  margin-right: 10px;
  padding: 0 8px;
  min-width: 270px;
  min-height: 32px;
  height: max-content;

}

.add-task-btn{
  display: flex;
  align-items: center;
  padding: 6px 8px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;

  i{
    font-size: 18px;
    margin-right: 5px;
  }
}

.add-task-form{
  background: $background-grey;
  padding: 5px;
  
  form{
    display: flex;
    flex-direction: column;
  }

  textarea{
    resize: none;
  }
}

.form-tools{
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  margin-top: 3px;

  button{
    margin-right: 5px;
  }

  i{
    cursor: pointer;
  }
}


.dashboard-column__name{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover{
    .list-edit__icon{
      display: block;
    }
  }
}

.dashboard-column-name__value{
  display: flex;
  width: 100%;

  i{
    font-size: 12px;
    opacity: 0.4;
  }
}

.list-edit__icon{
  cursor: pointer;
  margin-left: 5px;
  display: none;
  i{
    font-size: 14px;
    opacity: 0.4;
  }

  &:hover{
    i{
      opacity: 1;
    }
  }
}

.task-tools{
  display: flex;
}

.task-edit__icon{
  margin-left: 5px;

  
}

.task-delete-tools{
  display: flex;

  .task-edit__icon{
    display: block;
  }

  .list-edit__icon{
    display: block;
  }
}

.list-tools{
  display: flex;
}

.dasboard-task__info{
  margin: 5px 0 2px;
}

.dasboard-task-info__date{
  font-size: 11px;
  opacity: 0.6;
}

//////////////

// Drag and drop
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }